.aniOne{
    animation-name: slightMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    filter: drop-shadow(2px 4px 8px lightpink);
}

@keyframes slightMove{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(25px);
    }
}
body{
     background: lightblue;
     animation-name: changecolor;
     animation-duration: 20s;
     animation-iteration-count: infinite;
     scroll-behavior: smooth;
     min-height: 100vh;
     position: relative;
     /* background: #333150;
    color: white; */
}

@keyframes changecolor{
    0%{
        background: lightblue;
    }
    50%{
        background: rgb(188, 142, 248);
    }
}
/* @keyframes changecolor{
    0%{
        background: lightblue;
    }
    50%{
        background: rgb(170, 169, 169);
    }
} */
/* #app{
    background: lightblue;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100vh;
} */

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(242, 255, 0, 0.467);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    20%{
        /* transform: translateY(-1000px) rotate(720deg);
        opacity: 0; */
        border-radius: 50%;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 0;
    }

}


/* width */
::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #007ab3;
    transition: all 0.7s;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(251, 255, 0);
  }
.hoverdNav{transition: all 0.5s;}
.hoverdNav:hover{
    color: purple;
    transform: scale(1.1);
    border-bottom: 2px solid purple;
}
